/* Variables */
:root {
  --color-primary: #E02C6D;
  --color-white: #fff;
  --color-black: #3A3A3A;
}

/* Reseting */
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  /* this defines what 1rem is */
  /*1rem = 10px */
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  color: var(--color-black);
  font-family: 'Poppins', sans-serif;
}

/* common */
::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

img {
  width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 1.1rem 2.5rem;
  text-decoration: none;
}

.btn-primary {
  color: var(--color-white);
  border-radius: 3rem;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  transition: all 0.3s ease;
}

.btn-primary:hover {
  color: var(--color-primary);
  font-weight: normal;
  background-color: var(--color-white);
}

.btn-secondary {
  border-radius: 3px;
  padding: 1rem 2rem;
  color: var(--color-primary);
  transition: all 0.3s ease-in;
}

.btn-secondary:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

/* Header */

.header {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  list-style: none;
  padding: 2rem 1.5rem;
}

.menu li a, .menu li .fas {
  text-decoration: none;
  color: var(--color-black);
  font-size: 1.8rem;

}

/* Hero Section */

#hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-details {
  width: 55%;
}

.hero-title {
  font-size: 5rem;
  color: var(--color-black);
  font-weight: 600;
  margin-bottom: 0;
}

.hero-details p {
  font-size: 1.7rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  padding-right: 3rem;
}

.hero-image {
  width: 45%;
}

.hero-image img {
  padding: 5rem;
}


/* Partnar Section */
.partnar-container {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90deg,
      rgba(201, 198, 198, 0.25) 0%,
      rgba(160, 156, 156, 0.8) 50%,
      rgba(201, 198, 198, 0.25) 100%);
  border-image-slice: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  margin: 5rem auto;
}

.partnar-container img {
  max-width: 10rem;
  max-height: 10rem;
}

/* Popular collection */
#collection-section {
  margin: 5rem auto;
  padding: 2rem 5rem;
}

.products {
  display: grid;
  column-gap: 2rem;
  row-gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.collection-section-button {
  display: inline-block;
  margin-top: 2rem;
  float: right;
}

.product-card {
  max-height: 48rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  padding: 1.3rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 4rem rgb(0 0 0 / 15%);
  transition: all .3s;
}

.product-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.product-card img {
  border-radius: 0.5rem;
  width: 100%;
}

.product-details {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.product-title {
  margin-top: 1rem !important;
  margin: 0;
  font-size: 2rem;
  font-weight: 800;
}

.product-price {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.product-rating {
  font-size: 1rem;
  color: #FF9529;
}

.rating-number {
  color: var(--color-black);
  font-weight: 600;
  font-size: 1.2rem;
}

..product-description {
  font-size: 1.4rem;
  font-weight: 300;
}

/* Footer */
footer#footer {
  background-color: #0A0826;
  padding: 3rem 2rem;
}

.footer-title {
  text-align: center;
  font-size: 2rem;
  color: var(--color-white);
}

.footer-des {
  text-align: center;
  font-size: 1.4rem;
  font-weight: lighter;
  color: var(--color-white);
}

.footer-logo {
  text-align: center;
}

.footer-logo .fab {
  display: inline-block;
  font-size: 1.8rem;
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--color-black);
  color: var(--color-white);
  transition: all 0.5s ease;
}

.footer-logo .fab:hover {
  background-color: var(--color-primary);
}

.footer-logo a {
  text-decoration: none;
}

.footer-logo a:not(:last-child) {
  margin-right: 1rem;
}



/*---------------
   Media Query 
 --------------*/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}